.custom-header {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #bbc5b8;
  color: #ffffff;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.logo {
  height: 60px;
  width: auto;
  margin-right: 50px;
}

.title {
  font-size: 25px;
  font-weight: 300;
  margin-right: 50px;
  color: #ffffff;
}

.search-field {
  flex-grow: 1;
  max-width: 550px;
  position: relative;
}

.input-lg {
  width: 100%;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  outline: none;
  margin-top: 20px;
}

.input-lg::placeholder {
  color: #bbb;
}

p {
  margin-left: 45%;
  margin-right: -25px;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  font-family: var(--font-primary);
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.2);
}

.user-menu {
  position: absolute;
  top: 65px;
  left: 1285px;
  width: 200px;
  background-color: #ffffff;
  border: 0px solid #5ca359;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1000;
  font-family: var(--font-primary);
}

.arrow-up {
  position: absolute;
  top: -8px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  z-index: 1001;
}

.user-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-menu li {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.user-menu li a {
  color: #494949;
  text-decoration: none;
  display: block;
}

.user-menu li:hover {
  background-color: #e4f0e3;
}
