<header class="custom-header">
  <img src="icons/logo.png" class="logo" alt="Logo" />
  <span class="title">Recursos Didáticos Digitais</span>

  <div class="search-field" *ngIf="isShowSearchField">
    <input type="text" class="input-lg" placeholder="Pesquise..." />
  </div>

  <p>{{ welcomeMessage }}</p>

  <div class="icons">
    <span (click)="toggleUserMenu()"><img src="/icons/user.png" alt="Usuário" class="icon user-icon"/></span>
  </div>

  <div class="user-menu" *ngIf="isUserMenuOpen">
    <div class="arrow-up"></div>
    <ul>
      <li (click)="navigateTo('perfil')"><img src="/icons/user-green.png" alt="Perfil" class="menu-icon" /><a href="#">Perfil</a></li>
      <li><img src="/icons/settings-green.png" alt="Configurações" class="menu-icon" /><a href="/perfil">Configurações</a></li>
      <li (click)="logout()"><img src="/icons/logout-green.png" alt="Sair" class="menu-icon" /><a href="/login">Sair</a></li>
    </ul>
  </div>
</header>
