<!-- Modal de Consulta (Busca) -->
<div class="search-modal">
    <div class="modal-content">
        <span class="close-modal" (click)="closeSearchModal()">X</span>
        <p>Consulta</p>

        <div class="search-container">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Digite o nome ou nome de usuário"
                class="input-md" />
            <button (click)="search()" class="button-buscar">
                <img src="icons/search.png" alt="Pesquisar" class="icon" />
            </button>
        </div>
        <!-- Exibindo resultados da pesquisa -->
        <div class="search-results">
            <p *ngFor="let platform of searchResults" (click)="selecionar(platform)">
                {{ platform.namePlatform }} ({{ platform.descriptionPlatform }})
            </p>
            <!-- <p *ngIf="searchResults.length === 0">Nenhum usuário encontrado</p>-->
        </div>
    </div>
</div>

<!-- <div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <input type="text" placeholder="Digite um nome" [(ngModel)]="nomeConsulta" />
            <button (click)="consultar()">Consultar</button>
        </div>
        <div class="modal-body">
            <ul>
                <li *ngFor="let item of resultados" (click)="selecionar(item)">
                    {{ item.nome }}
                </li>
            </ul>
        </div>
    </div>
</div> -->