.main-container {
  max-width: 100%;
  overflow-x: hidden;
}

.search-container {
  margin-bottom: 20px;
}

.button-default {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #85a17d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font-primary);
  font-weight: 200;
  margin-left: 20px;

  &:hover {
    background-color: #6a8366;
    transform: scale(1.01);
  }
}

.input-md {
  padding: 10px;
  margin: 5px 0;
  width: 94%;
  height: 25px;
  border-radius: 10px;
}

.stepper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  margin-left: 14%;
}

.step {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.circle.active {
  background-color: #85a17d;
  color: white;
  transform: scale(1.1);
}

.line {
  flex-grow: 1;
  height: 4px;
  background-color: #e0e0e0;
  transition: background-color 0.3s;
  margin: 0 20px;
}

.line.completed {
  background-color: #85a17d;
}

.content-container {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.form-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.platform-registration-step2-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: var(--font-primary);
}

.filter-section {
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.filter-section h3 {
  color: #85a17d;
  font-size: 18px;
  margin: 10px 0;
}

.subfilter-item {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 300;
}

.subfilter-item input[type="checkbox"] {
  margin-right: 10px;
}

.form-navigation-step1 {
  display: flex;
  justify-content: flex-end;
}

.form-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-button,
.next-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #85a17d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 200;
  font-family: var(--font-primary);
}

.back-button:hover,
.next-button:hover {
  background-color: #6f8569;
}

.title-relacione {
  justify-self: start;
  font-size: 15px;
  color:#8a8a8a
}

.filter-title {
  color:#85a17d;
  justify-self: flex-start;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

input[type="checkbox"] {
  accent-color: #85a17d;
}

.step-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-column {
  width: calc(50% - 10px);
}

.left {
  margin-right: 10px;
}

textarea {
  height: 130px;
}

.submit-button {
  background-color: #448b56;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #266636;
}

.input-lg {
  width: calc(100% - 50px);
}

.select-input {
  height: 35px;
  width: 100%;
  font-weight: 300;
}

.label {
  font-weight: 350;
}

.platform-summary-container {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: var(--font-primary);
}

.summary-section {
  margin-bottom: 20px;
}

.summary-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.summary-section p {
  margin: 4px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 2px 0;
  font-size: 16px;
}

.form-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirm-button {
  padding: 10px 20px;
  background-color: #448b56;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #266636;
}

//PRE VISUALIZAÇÃO

.platform-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.platform-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.platform-logo {
  width: 100px;
  height: auto;
}

h1 {
  font-size: 25px;
  color: #53664f;
  font-family: var(--font-primary);
  font-weight: 340;
  margin-left: 25px;
  margin-top: 10px;
}

.video-container iframe {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  border-radius: 10px;
}

.description {
  margin-top: 20px;
  font-size: 1rem;
  font-family: var(--font-primary);
  color: #666;
}

.platform-link {
  margin-top: 20px;
  font-size: 1.1rem;
}

a {
  font-weight: 400;
  color: #85a17d;
  cursor: pointer;
}

.button-tutorial {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #85a17d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font-primary);
  font-weight: 200;
  display: block;
  margin: auto;
  margin-right: 20px;
}


.select-dropdown {
  position: relative;
  width: calc(100% - 40px);
  font-family: Arial, sans-serif;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.options-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.option-item {
  display: flex;
  align-items: center;
  padding: 8px;
}

.option-item input {
  margin-right: 8px;
}

.arrow-down {
  font-size: 12px;
}

.option-item:hover {
  background-color: #f0f0f0;
}

.video-placeholder {
  width: 100%;
  height: 300px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 20px;
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}


.modal-content {
  width: 510px;
  height: 100px
}


