<div class="subheader-container">
  <button class="hamburger-menu" (click)="toggleSidebar()">
    <img src="/icons/menu-hamburguer.png" alt="Menu" />
  </button>
  <span class="subheader-title">{{ currentPageTitle }}</span>
</div>

<div class="sidebar" [class.open]="sidebarOpen">
  <button class="close-btn" (click)="toggleSidebar()">X</button>
  <ul>
    <li class="sidebar-item" (click)="navigateTo('home')">Página Inicial</li>
    <li *ngIf="authService.hasRole('USER')" class="sidebar-item" (click)="navigateTo('home')">Favoritos</li>
    <li *ngIf="authService.hasRole('ADMIN')" class="sidebar-item" (click)="navigateTo('cadastro-plataforma')">Cadastro de Plataforma</li>
    <li *ngIf="authService.hasRole('ADMIN')" class="sidebar-item" (click)="navigateTo('cadastro-filtro')">Cadastro de Filtros</li>
    <li *ngIf="authService.hasRole('ADMIN')" class="sidebar-item" (click)="navigateTo('permissoes-usuario')">Permissões por Usuários</li>
    <li *ngIf="authService.hasRole('ADMIN')" class="sidebar-item" (click)="navigateTo('plataformas-list')">Plataformas Lista</li>
    <li class="sidebar-item" (click)="navigateTo('perfil')">Perfil</li>
    <li class="sidebar-item" (click)="logout()">Sair</li>
  </ul>
</div>
