<div class="login-container">
    <div class="login-content">
        <div class="logo-container">
            <div class="form-row">
                <img src="/logo-green.png" alt="Logo" class="logo">
                <span class="title">Cadastre-se!</span>
            </div>
        </div>
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label for="firstName" class="label">Nome</label>
                    <input type="text" class="input-sm" placeholder="Digite seu nome..." [(ngModel)]="user.firstName" name="firstName" required />
                </div>
                <div class="form-group">
                    <label class="label">Sobrenome</label>
                    <input type="text" class="input-sm" placeholder="Digite seu nome..." [(ngModel)]="user.lastName" name="lastName" required />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label class="label">Data de Nascimento</label>
                    <input type="date" class="input-sm date-input" [(ngModel)]="user.birthDate" name="birthDate" onfocus="(this.type='date')" onblur="(this.type='text')" required />
                </div>

                <div class="form-group">
                    <label class="label">Gênero</label>
                    <select class="input-sm select-field" [(ngModel)]="user.gender" name="gender">
                        <option></option>
                        <option value="F">Feminino</option>
                        <option value="M">Masculino</option>
                        <option value="NI">Não identificar</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label class="label">User</label>
                    <input type="text" class="input-sm" placeholder="Digite seu user..." [(ngModel)]="user.login" name="login" required />
                </div>
                <div class="form-group">
                    <label class="label">E-mail</label>
                    <input type="text" class="input-sm" placeholder="Digite seu e-mail..." [(ngModel)]="user.email" name="email" required />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label class="label">Senha</label>
                    <input type="password" class="input-sm" placeholder="Digite sua senha..." [(ngModel)]="user.password" name="password" required />
                </div>

                <div class="form-group">
                    <label class="label">Confirmação de Senha</label>
                    <input type="password" class="input-sm" placeholder="Confirme sua senha..." required />
                </div>
            </div>

            <button type="submit" class="default-button" (click)="insertUser()">Cadastrar</button>
            <p class="register">Já possui cadastro? <a routerLink="/login">Faça login aqui!</a></p>
        </form>
    </div>
</div>