.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #85a17d;
}

.login-content {
  max-width: 900px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: var(--font-primary);
  color: #53664f;
}

.logo-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.logo {
  max-width: 40%;
  max-height: 80px;
}

.title {
  font-size: 25px;
  font-weight: 300;
  margin-left: 35px;
  margin-top: 10px;
  color: #53664f;
}

label {
  margin-left: 40px;
}

.form-row {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: start;
}

input {
  align-self: center;
}

.form-group:last-child {
  margin-right: 0;
}

.default-button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 250;
  background-color: #85a17d;
}

.default-button:hover {
  background-color: #647a5e;
}

a {
  font-weight: 400;
  color: #85a17d;
}

.register {
  font-weight: 250;
  margin-left: 35%;
  margin-bottom: 15px;
}

.select-field {
  height: 44px;
  width: calc(100% - 70px);
  font-weight: 300;
  align-self: center;
}

.date-input {
  color: #555;
}

.date-input::placeholder {
  color: #888;
}
