<div class="login-container">
    <div class="login-content">
      <div class="logo-container">
        <img src="icons/logo.png" alt="Logo" class="logo">
      </div>
  
      <div class="form-container">
        <p class="title">Login</p>
        <form (ngSubmit)="onLogin()">
            <label class="label">E-mail: </label>
            <div class="name"><input type="text" class="input-lg" placeholder="Digite seu e-mail..."/></div>
    
            <label class="label">Senha: </label>
            <div class="name"><input type="text" class="input-lg" placeholder="Digite a senha..."/></div>
  
          <button class="default-button">Entrar</button>
          <p class="register">Ainda não possui cadastro? <a routerLink="/register-form">Cadastre-se aqui!</a></p>
        </form>
      </div>
    </div>
</div>
  