.platform-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.platform-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.platform-logo {
  width: 100px;
  height: auto;
}

h1 {
  font-size: 25px;
  color: #53664f;
  font-family: var(--font-primary);
  font-weight: 340;
  margin-left: 25px;
  margin-top: 10px;
}

.video-container iframe {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  border-radius: 10px;
}

.description {
  margin-top: 20px;
  font-size: 1rem;
  font-family: var(--font-primary);
  color: #666;
}

.platform-link {
  margin-top: 20px;
  font-size: 1.1rem;
}

a {
  font-weight: 400;
  color: #85a17d;
  cursor: pointer;
}

.button-default {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #85a17d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font-primary);
  font-weight: 200;
  display: block;
  margin: auto;
  margin-right: 20px;

  &:hover {
    background-color: #6a8366;
    transform: scale(1.01);
  }
}


