<app-header></app-header>
<app-subheader></app-subheader>

<div class="platform-container">
  <div class="platform-header">
    <img *ngIf="platform" [src]="platform.logo" alt="Logo da plataforma" class="platform-logo" />
    <h1 *ngIf="platform">{{ platform.name }}</h1>
    <button (click)="openPdf()" class="button-default">Tutorial em PDF</button>
  </div>

  <div class="video-container">
    <iframe *ngIf="platform" [src]="platform.urlVideo | safeUrl" allowfullscreen></iframe>
  </div>

  <div class="description" *ngIf="platform">
    <p>{{ platform.description }}</p>
  </div>

  <div class="description" *ngIf="platform">
    <a [href]="platform.urlPlatform" target="_blank">Visite a plataforma</a>
  </div>
</div>
